.u-section-1 {
  background-image: url("images/pexelsphoto3845407copy.jpg");
  background-position: 76.6% 87.52%;
  background-size: 205%;
}

.u-section-1 .u-sheet-1 {
  min-height: 694px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 293px 0 0 490px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -57px 679px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 37px 0 60px 679px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 290px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 479px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 70px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 259px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 160px;
    margin-right: 124px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 15.54% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 103px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}